@model BurgerViewModel

<h3>Edit @Model.Name</h3>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="custom-control-label"></label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="IsVegetarian" class="custom-control-label"></label>
                <input type="checkbox" asp-for="IsVegetarian" />
            </div>
            <div class="form-group">
                <label asp-for="IsVegan" class="custom-control-label"></label>
                <input type="checkbox" asp-for="IsVegan" />
            </div>
            <div class="form-group">
                <label asp-for="HasFries" class="custom-control-label"></label>
                <input type="checkbox" asp-for="HasFries" />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="custom-control-label"></label>
                <input type="number" asp-for="Price" />
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="custom-control-label"></label>
                <input type="text" asp-for="ImageUrl" class="form-control" />
            </div>
            <button type="submit" class="btn btn-outline-success">Update</button>
        </form>
    </div>
</div>