@model List<BurgerListViewModel>

<h2 class="text-center mt-3">List of burgers:</h2>
<br />
<div class="card-container row m-4">
    @foreach (var burger in @Model)
    {
        <div class="col-3 mb-4">
            <partial name="~/Views/Shared/Partials/_BurgerCardPartial.cshtml" for="@burger" />
        </div>
    }
</div>
<br />
<div class="d-flex justify-content-center my-3">
    <a class="btn btn-warning mx-2" asp-area="" asp-controller="Home" asp-action="Index">Home page</a>
    <a class="btn btn-warning mx-2" asp-area="" asp-controller="Burger" asp-action="Create">Create new burger</a>
</div>
