<section id="about-us" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center pb-3"><b>About Us</b></h2>
                <p>Welcome to our burger web shop! We are passionate about crafting delicious and mouth-watering burgers that will satisfy your cravings.</p>
                <p>At our shop, we use only the freshest and highest quality ingredients to create our burgers. Our secret blend of seasonings and special sauces adds an explosion of flavors to each bite.</p>
                <p>Whether you're a meat lover, a vegetarian, or a vegan, we have a burger option to cater to your preferences. Our diverse menu includes classic beef burgers, juicy chicken burgers, and flavorful plant-based options.</p>
            </div>
            <div class="col-md-6">
                <!-- You can add an image or a video about your burger shop here -->
                <!-- Example image tag: -->
                <img src="https://static.vecteezy.com/system/resources/previews/002/004/291/original/cartoon-burger-shop-vector.jpg" alt="Burger Shop" class="img-fluid rounded" width="500">
            </div>
        </div>
    </div>
</section>