@model List<BurgerListViewModel>

<div class="text-center">
    <h2 class="display-4">Welcome to Burger Shop</h2>
    <hr />
    @if (ViewData["MostPopularBurger"] != null)
    {
        <h3>Most Popular Burger</h3>
        <div>
            <h4>Name: @(((BurgerListViewModel)ViewData["MostPopularBurger"]).Name)</h4>
            <p>Price: @(((BurgerListViewModel)ViewData["MostPopularBurger"]).Price)</p>
            <img src="@(((BurgerListViewModel)ViewData["MostPopularBurger"]).ImgUrl)" alt="Most Popular Burger" />
        </div>
    }
    else
    {
        <p>No data available for the most popular burger.</p>
    }

@*     <div class="row pb-3 m-1 mt-3">
        @foreach (var burger in Model)
        {
            <partial name="~/Views/Shared/Partials/_BurgerCardPartial.cshtml" for="@burger" />
        }
    </div> *@
</div>
